<!DOCTYPE html>
<html lang="en">

<head>
  <title>Leaning Hydro Dashboard</title>
  <script type="text/javascript">
    window.onload = function () {
      var conn;
      var gauge = document.getElementById("hydro-reading");

      function createTempDisplay(temp) {
        var tempItem = document.createElement("div");
        var inner = "<h2>Temperature</h2>";
        if (temp === null || temp === undefined) {
          inner = inner + "<i>No Data</i>";
        } else {
          inner = inner + "<span>" + temp.toString() + "</span>"
        }
        tempItem.innerHTML = inner;
        return tempItem;
      }

      function createSGDisplay(sg) {
        var sgItem = document.createElement("div");
        var inner = "<h2>Specific Gravity</h2>";
        if (sg === null || sg === undefined) {
          inner = inner + "<i>No Data</i>";
        } else {
          inner = inner + "<span>" + sg.toString() + "</span>"
        }
        sgItem.innerHTML = inner;
        return sgItem;
      }

      function createNoData() {
        var noDataItem = document.createElement("div");
        noDataitem.appendChild(createTempDisplay());
        noDataitem.appendChild(createSGDisplay());
        gauge.innerHTML = '';
        gauge.appendChild(noDataItem);
      }

      function createData(data) {
        var dataItem = document.createElement("div");
        dataItem.appendChild(createTempDisplay(data.Temperature));
        dataItem.appendChild(createSGDisplay(data.SpecificGravity));
        gauge.innerHTML = ''
        gauge.appendChild(dataItem);
      }

      function handleData(data) {
        if (data === null || data === undefined) {
          createNoData();
        } else {
          createData(data);
        }
      }

      if (window["WebSocket"]) {
        var wsAddr = "ws://" + document.location.host + "/ws";
        console.log("Connecting web socket address: " + wsAddr)
        conn = new WebSocket(wsAddr);
        conn.onclose = function (evt) {
          var item = document.createElement("div");
          item.innerHTML = "<b>Connection closed.</b>";
          gauge.innerHTML = '';
          gauge.appendChild(item);
        }
        conn.onmessage = function (evt) {
          console.log("Received msg: " + JSON.stringify(evt));
          handleData(JSON.parse(evt.data));
        }
      } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>"
        gauge.innerHTML = '';
        gauge.appendChild(item);
      }
    };
  </script>
</head>

<body>
  <div>
    <h1>Dashboard</h1>
    <div>
      <div id="hydro-reading"></div>
    </div>
  </div>
</body>

</html>
